
nav{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 55px;
	height: 100vh;
	background-color: $primaryColor;
	.main-nav{
		padding: 0;
		margin: 0;
		.item{
			a{
				text-align: justify;
				color: $secondaryColor;
				font-size: 30px;
				text-decoration: none;
				text-transform: uppercase;
				padding: 5px;
			}
			&.active{
				a{
					background-color: $secondaryColor;
					color: $primaryColor;
					display: block;
				}
			}
		}
		.logo{
			margin-bottom: 50px;
			img{
				width: 180px;
				height: 180px;
			}
		}
	}
}