.page-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	.title{
		position: relative;
		min-width: 670px;
		padding: 50px 0;
		border-bottom: 1px solid $primaryColor;
		text-align: center;
		margin-bottom: 50px;
		h1{
			text-transform: uppercase;
			font-size: 45px;
		}
		.mn-img{
			position: absolute;
			right: -250px;
			top: -50px;
			width: 440px;
			height: 440px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			z-index: -1;
			&:before{
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.42);
			}
		}
	}
	.desc{
		width: 670px;
		min-width: 670px;
		font-weight: 300;
		a{
			color: $primaryColor;
			
		}
	}
	
}