
// @font-face {
// 	font-family: "GillSans";
// 	src: url("styles/GillSans.eot");
// 	src: url("styles/GillSans.woff") format("woff"),
// 	url("styles/GillSans.otf") format("opentype"),
// 	url("styles/GillSans.svg#filename") format("svg");
// }
$primaryFont: "Verdana", sans-serif;

//color
$primaryColor: rgba(0,0,0);
$secondaryColor: rgba(255, 255, 255);
//$accentColor: 