@import 'components/variables';

@import 'components/normalize';
@import 'components/simple-grid';

@import 'components/navigation';
@import 'components/pages';


body{
    color: $primaryColor;
    font-family: $primaryFont;
}

//Turn off hover for mobiles
@mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}